<!-- /*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/  -->

<h2>Your Cumulative Quiz Scores:</h2>

<mat-card class='summary-card'>
    <div *ngFor='let result of results.results'>
        <mat-accordion multi='true'>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <h4>{{result.quizName}}</h4>
                </mat-expansion-panel-header>
                <p><strong>Employee ID:</strong> {{ result.employeeId }}</p>
                <p><strong>Score:</strong> {{ result.score }}%</p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-card>