<!-- /*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/  -->


<div class='error-container' and fxLayoutAlign="center">
    <mat-card class='error-card'>
        <h1><strong>404</strong></h1>
        <h3>The page you have found does not exist. Please navigate back to the dashboard.</h3>
        <button mat-raised-button color='accent' routerLink='/dashboard'>Go to Dashboard</button>
    </mat-card>
</div>