<!-- /*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/ -->


<mat-toolbar class='menu' role='header' color='primary'>
    <mat-toolbar-row>
      <div class='left' fxFlex='75%'>
        <span class='logo'>
            <!-- <mat-icon class='home_icon'>home</mat-icon> -->
          NodeQuiz
        </span>
      </div>
      <div class='right' fxFlex='25%'>
        <ul>
          <li *ngIf="!authService.loggedIn()">
            <a mat-button routerLink='/' routerLinkActive='mat-accent' [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li *ngIf='!authService.loggedIn()'>
            <a mat-button routerLink='/login' routerLinkActive='mat-accent'>Login <mat-icon>account_box</mat-icon></a>
          </li>
          <li *ngIf='authService.loggedIn()'>
            <a mat-button routerLink='/dashboard' routerLinkActive='mat-accent'>Dashboard</a>
          </li>
          <li *ngIf='authService.loggedIn()'>
            <a mat-button routerLink='/cumulative-summary' routerLinkActive='mat-accent'>Cumulative Scores</a>
          </li>
          <li *ngIf='authService.loggedIn()'>
            <a mat-button (click)='authService.onLogout()'>Logout <mat-icon>exit_to_app</mat-icon></a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>