/*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/ 

.dialog-container {
    margin: 30px 30px;
    text-align: center;
}

button {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

 p {
    margin: auto;
}
