<!-- /*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/ -->


<mat-toolbar class='menu' role='header' color='primary'>
    <mat-toolbar-row>
      <div class='left' fxFlex='75%'>
        <span class='logo'>
            <!-- <mat-icon class='home_icon'>home</mat-icon> -->
          NodeQuiz
        </span>
      </div>
      <div class='right' fxFlex='25%'>
        <button mat-button class='mat-button'>
          Home
        </button>
        <button  mat-button class='mat-button'>
          About
        </button>
        <button  mat-button class='mat-button'>
          Contact
        </button>

        <button class="toolbar__icon-button" mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu>
          <button mat-menu-item>
            <mat-icon>perm_contact_calendar</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>