<!-- /*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/  -->
<mat-card class='dashboard-card'>
    <h1>Select Your Quiz!</h1>

    <div class='dashboard'>
        <mat-accordion multi = 'true'>
            <mat-expansion-panel *ngFor = 'let quizz of quizzes'>
                <mat-expansion-panel-header>
                    <p class='title'>{{ quizz.title }}</p>
                </mat-expansion-panel-header>
                <p>{{ quizz.description }}</p>
                <mat-action-row>
                    <a routerLink ='/presentation/{{ quizz.id }}'><button mat-raised-button color='accent' ><strong>Continue to Presentation</strong></button></a>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</mat-card>