<!-- /*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/  -->


<div class='login-container' and fxLayoutAlign="center">
        <mat-card class='login-card'>
            <h1>Welcome to NodeQuiz!</h1>
            <h3>Please Log in using a valid Employee ID</h3>
            <form class='form'> 
                <mat-form-field>
                    <input matInput [(ngModel)]='loginUserData.id' type='text' name='id' placeholder='Please enter your employee ID' #id='ngModel' required minlength='4'>
                    <mat-error *ngIf='id.invalid'>Please enter a valid ID</mat-error>
                    
                </mat-form-field>
                <button mat-raised-button color='accent' (click)='loginUser()'>Submit</button>
            </form>
        </mat-card>
    </div>