<!-- /*
============================================
; Author: Ethan Townsend
; Date:   8/12/2019
; Description: web-425
;===========================================
*/ -->

<div class='quiz-container' *ngIf='quiz'>

    <h3 class='quiz-h3'>{{ quiz.quiz.quiz_name }} </h3>

    <form #form='ngForm' (submit)='onSubmit(form.value); form.reset()'>
        <mat-card class='quiz-card' *ngFor='let questions of quizQuestions; let i = index'>
            <h3>{{i + 1}}. {{ questions.question }} </h3>
                <div *ngFor='let item of questions.question_answers'>

                        <input [(ngModel)]='q[questions.id]' [(ngModel)]='a[questions.name]' [checked]='q[questions.id]' value='{{item.id}};{{item.isCorrect}}' name='a{{ questions.id }}' type='radio'/>
                            {{ item.answer }}
                </div>
        </mat-card>
        <div class='btn-container'>
            <a routerLink='/presentation/{{ quizId }}' fxLayoutAlign="center"><button mat-raised-button color='accent'><strong>Back to
                Presentation</strong></button></a>
            <button type='submit' class='submit-btn' mat-raised-button color='primary'>Submit</button>
        </div>
    </form>
</div>

